* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: antiquewhite;
}

/* *********************************** */

/* STYLE THEME */
/* ## Colors */

/* ### Primary */

/* - Orange: hsl(26, 100%, 55%) */
/* - Pale orange: hsl(25, 100%, 94%) */

/* ### Neutral */

/* - Very dark blue: hsl(220, 13%, 13%) */
/* - Dark grayish blue: hsl(219, 9%, 45%) */
/* - Grayish blue: hsl(220, 14%, 75%) */
/* - Light grayish blue: hsl(223, 64%, 98%) */
/* - White: hsl(0, 0%, 100%) */
/* - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

/* ## Typography */

/* ### Body Copy */

/* - Font size (paragraph): 16px */

/* ********************************** */

/* Styling of the product cart */

/* *********************************** */
/* *********************************** */

/* Styling the navigation Bar */

.nav-section {
  padding: 0.5rem 2rem;
}

.navbar-container {
  padding: 0.5rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.sneakers-logo {
  /* border: 1px solid red; */
  width: 90%;
}
.sneakers-logo img {
  width: 100%;
  height: auto;
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.links .link {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: hsl(220, 14%, 75%);
}

.right-nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 50%;
  /* border: 1px solid red; */
}

.profile-img img {
  width: 100%;
  height: auto;
}

/* ************************************* */
/* ************************************* */

/* End of navigation section */

/* ******************************** */
/* ******************************** */

/* Start of product section */

.product-section {
  padding: 0.5rem 2rem;
}

.product-container {
  padding: 0.5rem 8rem;
  display: flex;
  /* border: 1px solid salmon; */
}

.product-img {
  /* border: 1px solid saddlebrown; */
  width: 50%;
  padding: 2.5rem;
  flex-basis: 50%;
}

.product-img img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
}

.product-details {
  /* border: 1px solid goldenrod; */
  flex-basis: 45%;

  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}

.product-top-part {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
}

.company {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
}

.product-title {
  font-size: 2rem;
  text-transform: capitalize;
  width: 80%;
}

.product-description {
  width: 95%;
}

.product-description p {
  font-size: 1.6rem;
  word-break: break-all;
  line-height: 1.2;
  color: hsl(219, 9%, 45%);
}

.product-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid red; */
  margin-bottom: 0;
}

.discounted-price {
  font-size: 2.5rem;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
}

.total-discount {
  font-size: 1.5rem;
  color: hsl(26, 100%, 55%);
  background-color: hsl(26, 100%, 55%, 0.4);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.actual-price {
  margin-top: 0;
  /* border: 1px solid green; */
  color: hsl(220, 14%, 75%);
  font-size: 1.4rem;
  text-decoration: line-through;
}

.product-bottom-part {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}

.product-qty-manipulation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: hsl(223, 64%, 98%);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
}

.product-qty-manipulation .item-qty {
  color: hsl(220, 13%, 13%);
  font-size: 1.6rem;
  font-weight: 700;
}

#add-Cart-Btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

/* *********************************** */
/* End of Product-Section */
/* *********************************** */

/* ******************************** */
/* ******************************** */

/* Styling of the product-choice  */

.product-option-section {
  padding: 0.5rem 2rem;
}

.choice-img {
  width: 10%;
  border: 1px solid hsl(220, 13%, 13%);
  background-color: hsl(223, 64%, 98%);
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.choice-img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.product-option-container {
  padding: 0.5rem 8rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
